<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eCommerce Shop Template</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="#" class="logo">eCommerce</a>
        </div>
    </header>
    <main class="main">
        <div class="main__content container">
            <h1 class="main__title">Home</h1>
            <div class="products">
                <div class="card">
                    <h3 class="card__title">Card Title</h3>
                    <a href="#" class="card__photo">
                        <img class="card__title" src="./images/card_image.jpg" alt="Card Image">
                    </a>
                    <div class="card__more">
                        <div class="card__price">$100</div>
                        <div class="product__status product__status--red">
                            In Stock. Qty: 15
                        </div>
                        <div class="product__rating">
                            <span>13 Reviews</span>
                        </div>
                        <a href="#" class="card__button button">See more details</a>
                    </div>
                </div>
                <div class="card">
                    <h3 class="card__title">Card Title</h3>
                    <a href="#" class="card__photo">
                        <img class="card__title" src="./images/card_image.jpg" alt="Card Image">
                    </a>
                    <div class="card__more">
                        <div class="card__price">$100</div>
                        <div class="product__status product__status--red">
                            In Stock. Qty: 15
                        </div>
                        <div class="product__rating">
                            <span>13 Reviews</span>
                        </div>
                        <a href="#" class="card__button button">See more details</a>
                    </div>
                </div>
                <div class="card">
                    <h3 class="card__title">Card Title</h3>
                    <a href="#" class="card__photo">
                        <img class="card__title" src="./images/card_image.jpg" alt="Card Image">
                    </a>
                    <div class="card__more">
                        <div class="card__price">$100</div>
                        <div class="product__status product__status--red">
                            In Stock. Qty: 15
                        </div>
                        <div class="product__rating">
                            <span>13 Reviews</span>
                        </div>
                        <a href="#" class="card__button button">See more details</a>
                    </div>
                </div>
            </div>
            
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            All rights reserved        
        </div>
    </footer>
</body>
</html>