$color-pink: #fc5185

.product
    display: flex

    &_main
        flex: 1

    &_aside
        flex: none
        width: 300px

    &_price
        color: green
        font-weight: bold
        font-size: 24px
        margin-bottom: 10px
        display: inline-block

    &_photo
        margin-top: 25px

    &_back
        color: black
        text-decoration: none

    &_info
        position: sticky
        top: 15px
        left: 0
        padding: 15px
        border-radius: 5px
        background-color: #fff
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1)

        &_button
            width: 100%
            margin-top: 15px